body {
    background-color: black;
}
h1 {           /*Discover hidden places*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;

}
h2 {          /* Your Personal Guide & Coming Soon */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
h1,h2 {
    color: white;
}

.bodyText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.AppDownload{
    color:aquamarine;
    font-size: 16px;
    align-items: center;
}
h1,h2,.AppDownload,a,.bodyText{
    text-align: center;
}
video,img{
    display: block;
    margin: auto;
}
#phoneImg {
    display: block;
    margin-top: 15px;
}
#excursionLogo {
    text-align: right;
    color: gray;
    font-size: 21px;
}